$block-background-color: #283645;

$block2-background-color: #1d2631;

$fonts: "OpenSans", sans-serif;

@mixin style-link {
  color: #ffffff;
  text-decoration: none;
}

@mixin style-background-image {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin reset-indents {
  padding: 0;
  margin: 0;
}

@import "blocks/features.scss";
@import "blocks/footer-logo.scss";
@import "blocks/download-app.scss";
@import "blocks/app-link.scss";
@import "blocks/footer-social.scss";
@import "blocks/footer-page.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-page.scss";
@import "blocks/logo-stage-item.scss";
@import "blocks/page-header.scss";
@import "blocks/card.scss";
@import "blocks/site-list.scss";
@import "blocks/user-gallery.scss";
@import "blocks/visually-hidden.scss";
@import "container.scss";
@import "fonts.scss";
@import "normalize.scss";
